@font-face {
    font-family: coba;
    src: url(MonumentExtended-Regular.otf);
}

@font-face {
    font-family: coba2;
    src: url(MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    background: #000;
}

nav{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-family: coba;
}

.menu-item{
    flex: 1;
}


.menu-left{
    text-align: left;
    margin-left: 4em;
}
.menu-center{
    text-align: center;
}

.menu-right{
    text-align: right;
    margin-right: 4em;
}

.menu-link{
    padding: 0 30px;
}

.hero-image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-img{
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    height: 100vh;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box{
    background: white;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.images{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: #000;
}

.left{
    background: url("../images/3.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.right{
    background: url("../images/4.jpg") no-repeat 50% 50%;
    background-size: cover;
}

p{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: coba2;
    font-size: 200px;
}

.title .letter{
    display: inline-block;
    line-height: 1em;
}

.sidebar-text{
    font-family: coba;
    position: absolute;
    top: 20%;
    right: 0.4em;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(117, 113, 113);
}

.projects{
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-family: coba;
    text-transform: uppercase;
    color: #fff;
}

.img-nav{
    position: absolute;
    right: 10%;
    bottom: 12%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    font-family: coba;
}

.next{
    position: relative;
    top: 40px;
    left: 80px;
    font-family: coba;
}

@media only screen and (max-width: 600px) and (min-width: 300px){
    p{
        font-size: 50px;
    }

    .box{
        background: white;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .hero-image{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper-img{
        position: absolute;
        overflow: hidden;
        margin: 0 auto;
        width: 80%;
        height: 100vh;
    }
}



